<div class="container">
	<div class="row">
		<div class="col-12 col-md">
			<div class="section-heading section-heading--left">
				<h5 class="__subtitle">Best match</h5>

				<h2 class="__title">Vend<span>GO</span> Featured Products</h2>
			</div>
		</div>

		<div class="col-12 col-lg-auto">
			<div id="slick-dots--container-2" class="mt-10 text-right"></div>
		</div>
	</div>

	<div class="spacer py-3 py-lg-6"></div>
</div>

<!-- start goods -->
<div class="goods goods--slider">
	<div class="slider-special-layout">
		<div class="slider-special-layout__inner">
			<div class="slider-special-layout__container">

				<div class="js-slick disable-not-active"
					data-slick='{
						"autoplay": true,
						"dots": true,
						"speed": 1200,
						"appendDots": "#slick-dots--container-2",
						"responsive": [
						{
							"breakpoint": 575,
							"settings":{
								"slidesToShow": 2,
								"slidesToScroll": 2
							}
						},
						{
							"breakpoint": 767,
							"settings":{
								"slidesToShow": 3,
								"slidesToScroll": 3
							}
						},
						{
							"breakpoint": 991,
							"settings":{
								"slidesToShow": 4,
								"slidesToScroll": 2
							}
						},
						{
							"breakpoint": 1199,
							"settings":{
								"slidesToShow": 4,
								"slidesToScroll": 2
							}
						}]
					}'>
					<!-- start item -->
					<div class="__item">
						<figure class="__image __image--bg-gray">
							<img src="img/goods_img/1.jpg" alt="demo" />

							<div class="__btn">
								<a class="custom-btn custom-btn--medium custom-btn--s3 wide" href="#">Add to Cart</a>
							</div>
						</figure>

						<div class="__content">
							<div class="product-price">
								<span class="product-price__item product-price__item--new">1 500$</span>
								<span class="product-price__item product-price__item--old">2200$</span>
							</div>

							<h4 class="__title"><a href="#">Combo Machine TB 100</a></h4>
						</div>

						<span class="product-label product-label--discount">Sale</span>
					</div>
					<!-- end item -->

					<!-- start item -->
					<div class="__item">
						<figure class="__image __image--bg-gray">
							<img src="img/goods_img/2.jpg" alt="demo" />

							<div class="__btn">
								<a class="custom-btn custom-btn--medium custom-btn--s3 wide" href="#">Add to Cart</a>
							</div>
						</figure>

						<div class="__content">
							<div class="product-price">
								<span class="product-price__item product-price__item--new">2 250$</span>
							</div>

							<h4 class="__title"><a href="#">Snack Machine Claus 1</a></h4>
						</div>
					</div>
					<!-- end item -->

					<!-- start item -->
					<div class="__item">
						<figure class="__image __image--bg-gray">
							<img src="img/goods_img/3.jpg" alt="demo" />

							<div class="__btn">
								<a class="custom-btn custom-btn--medium custom-btn--s3 wide" href="#">Add to Cart</a>
							</div>
						</figure>

						<div class="__content">
							<div class="product-price">
								<span class="product-price__item product-price__item--new">1 150$</span>
							</div>

							<h4 class="__title"><a href="#">Coffe Machine CF96</a></h4>
						</div>

						<span class="product-label product-label--new">New</span>
					</div>
					<!-- end item -->

					<!-- start item -->
					<div class="__item">
						<figure class="__image __image--bg-gray">
							<img src="img/goods_img/4.jpg" alt="demo" />

							<div class="__btn">
								<a class="custom-btn custom-btn--medium custom-btn--s3 wide" href="#">Add to Cart</a>
							</div>
						</figure>

						<div class="__content">
							<div class="product-price">
								<span class="product-price__item product-price__item--new">3 500$</span>
								<span class="product-price__item product-price__item--old">4200$</span>
							</div>

							<h4 class="__title"><a href="#">Water Machine WM 2500</a></h4>
						</div>

						<span class="product-label product-label--discount">Sale</span>
					</div>
					<!-- end item -->


					<!-- start item -->
					<div class="__item">
						<figure class="__image __image--bg-gray">
							<img src="img/goods_img/1.jpg" alt="demo" />

							<div class="__btn">
								<a class="custom-btn custom-btn--medium custom-btn--s3 wide" href="#">Add to Cart</a>
							</div>
						</figure>

						<div class="__content">
							<div class="product-price">
								<span class="product-price__item product-price__item--new">1 500$</span>
								<span class="product-price__item product-price__item--old">2200$</span>
							</div>

							<h4 class="__title"><a href="#">Combo Machine TB 100</a></h4>
						</div>

						<span class="product-label product-label--discount">Sale</span>
					</div>
					<!-- end item -->

					<!-- start item -->
					<div class="__item">
						<figure class="__image __image--bg-gray">
							<img src="img/goods_img/2.jpg" alt="demo" />

							<div class="__btn">
								<a class="custom-btn custom-btn--medium custom-btn--s3 wide" href="#">Add to Cart</a>
							</div>
						</figure>

						<div class="__content">
							<div class="product-price">
								<span class="product-price__item product-price__item--new">2 250$</span>
							</div>

							<h4 class="__title"><a href="#">Snack Machine Claus 1</a></h4>
						</div>
					</div>
					<!-- end item -->

					<!-- start item -->
					<div class="__item">
						<figure class="__image __image--bg-gray">
							<img src="img/goods_img/3.jpg" alt="demo" />

							<div class="__btn">
								<a class="custom-btn custom-btn--medium custom-btn--s3 wide" href="#">Add to Cart</a>
							</div>
						</figure>

						<div class="__content">
							<div class="product-price">
								<span class="product-price__item product-price__item--new">1 150$</span>
							</div>

							<h4 class="__title"><a href="#">Coffe Machine CF96</a></h4>
						</div>

						<span class="product-label product-label--new">New</span>
					</div>
					<!-- end item -->

					<!-- start item -->
					<div class="__item">
						<figure class="__image __image--bg-gray">
							<img src="img/goods_img/4.jpg" alt="demo" />

							<div class="__btn">
								<a class="custom-btn custom-btn--medium custom-btn--s3 wide" href="#">Add to Cart</a>
							</div>
						</figure>

						<div class="__content">
							<div class="product-price">
								<span class="product-price__item product-price__item--new">3 500$</span>
								<span class="product-price__item product-price__item--old">4200$</span>
							</div>

							<h4 class="__title"><a href="#">Water Machine WM 2500</a></h4>
						</div>

						<span class="product-label product-label--discount">Sale</span>
					</div>
					<!-- end item -->
				</div>

			</div>
		</div>
	</div>
</div>
<!-- end goods -->