<div class="row justify-content-lg-center">
	<div class="col-12 col-md-auto col-lg-2">
		<div class="mb-7 mb-md-0">
			<i class="testimonial-ico" data-text="">“</i>
		</div>
	</div>

	<div class="col-12 col-md">
		<div class="section-heading section-heading--left">
			<h5 class="__subtitle">Testimonials</h5>

			<h2 class="__title">People Says About Vend<span>GO</span></h2>
		</div>
	</div>

	<div class="col-12 col-lg-auto">
		<div id="slick-dots--container-0" class="mt-10 text-right"></div>
	</div>

	<div class="col-12 col-lg-8">
		<div class="spacer py-3 py-lg-4"></div>

		<!-- start review -->
		<div class="review review--slider">
			<div class="js-slick"
				data-slick='{
					"autoplay": true,
					"dots": true,
					"speed": 1200,
					"appendDots": "#slick-dots--container-0"
				}'>

				<!-- start item -->
				<div class="review__item">
					<p>
						Sturgeon medusafish tompot blenny burma danio loach catfish lanternfish wrasse goldeye whiptail gulper coffinfish Black pickerel hardhead catfish. Stoneroller minnow skipjack tuna. Black pickerel shrimpfish marine hatchetfish sillago dottyback spiny basslet.
					</p>

					<div class="review__item__author-name h4">Sam Peters, Vending Corp LLC</div>
				</div>
				<!-- end item -->

				<!-- start item -->
				<div class="review__item">
					<p>
						2 Sturgeon medusafish tompot blenny burma danio loach catfish lanternfish wrasse goldeye whiptail gulper coffinfish Black pickerel hardhead catfish. Stoneroller minnow skipjack tuna. Black pickerel shrimpfish marine hatchetfish sillago dottyback spiny basslet.
					</p>

					<div class="review__item__author-name h4">Lauren Golf, Programmer</div>
				</div>
				<!-- end item -->

				<!-- start item -->
				<div class="review__item">
					<p>
						3 Sturgeon medusafish tompot blenny burma danio loach catfish lanternfish wrasse goldeye whiptail gulper coffinfish Black pickerel hardhead catfish. Stoneroller minnow skipjack tuna. Black pickerel shrimpfish marine hatchetfish sillago dottyback spiny basslet.
					</p>

					<div class="review__item__author-name h4">Lauren Golf, Programmer</div>
				</div>
				<!-- end item -->
			</div>
		</div>
		<!-- end review -->
	</div>
</div>