<div class="brands-list brands-list--slider">
	<div class="js-slick"
		data-slick='{
			"autoplay": true,
			"dots": true,
			"speed": 1200,
			"slidesToShow": 2,
			"slidesToScroll": 2,
			"responsive": [
			{
				"breakpoint": 575,
				"settings":{
					"slidesToShow": 3,
					"slidesToScroll": 1
				}
			},
			{
				"breakpoint": 767,
				"settings":{
					"slidesToShow": 4,
					"slidesToScroll": 1
				}
			},
			{
				"breakpoint": 991,
				"settings":{
					"slidesToShow": 5,
					"slidesToScroll": 1
				}
			},
			{
				"breakpoint": 1199,
				"settings":{
					"slidesToShow": 5,
					"slidesToScroll": 1
				}
			}]
		}'>
		<!-- start item -->
		<div class="__item">
			<figure class="__image">
				<a href="javascript:void(0);"><img src="img/brands_img/5.png" width="126" height="64" alt="demo" /></a>
			</figure>
		</div>
		<!-- end item -->

		<!-- start item -->
		<div class="__item">
			<figure class="__image">
				<a href="javascript:void(0);"><img src="img/brands_img/4.png" width="100" height="89" alt="demo" /></a>
			</figure>
		</div>
		<!-- end item -->

		<!-- start item -->
		<div class="__item">
			<figure class="__image">
				<a href="javascript:void(0);"><img src="img/brands_img/3.png" width="127" height="60" alt="demo" /></a>
			</figure>
		</div>
		<!-- end item -->

		<!-- start item -->
		<div class="__item">
			<figure class="__image">
				<a href="javascript:void(0);"><img src="img/brands_img/2.png" width="132" height="47" alt="demo" /></a>
			</figure>
		</div>
		<!-- end item -->

		<!-- start item -->
		<div class="__item">
			<figure class="__image">
				<a href="javascript:void(0);"><img src="img/brands_img/1.png" width="120" height="78" alt="demo" /></a>
			</figure>
		</div>
		<!-- end item -->
	</div>
</div>